.px-black {
    background-color: black;
    margin: 0;
}

nav {
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    border-bottom: 2px solid #333;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 24px;
    color: orange;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    /*width: 100%;*/
    margin-left: 80px;
    /* justify-content: flex-end; */
    margin-right: auto;
}

ul li {
    list-style: none;
    padding: 0px 20px;
    position: relative;
}

ul li:hover>ul {
    display: block;
}

ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: 0.5s ease;
}

ul li a:hover {
    color: orange;
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 2px;
}

ul li ul {
    display: none;
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    background-color: #000000;
    border: 2px solid #333;
    border-radius: 5px;
    min-width: 140px;
    padding: 10px 0;
    margin: 0;
    z-index: 10;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}

ul li ul::before {
    content: "";
    position: absolute;
    top: -12px;
    left: 0;
    width: 100%;
    height: 12px;
}

ul li ul li {
    padding: 5px 0;
    width: 100%;
    text-align: left;
    padding-left: 15px;
}

.pxButton {
    font-size: 16px;
    text-decoration: none;
    padding: 8px 15px;
    background-color: orange;
    color: #fff;
    border-radius: 5px;
    white-space: nowrap;
    transition: 0.3s;
}

.pxButton:hover {
    color: black;
    transition: 0.3s;
}

.pxSubHead {
    background-color: black;
    /*border-top: 1px solid #333;*/
}

.pxSubHeadH2 {
    margin-left: 80px;
    background-color: black;
    color: white;
    font-style: italic;
    margin-top: 0px;
    top: 20px;
}

.pxSubHeadH6 {
    margin-left: 80px;
    background-color: black;
    color: orange;
    margin-top: 0;
    top: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
    background-color: black;

}

.product {
    flex: 1 1 calc(25% - 20px); /* กำหนดให้กว้างประมาณ 1 ใน 4 */
    min-width: 300px;      /* ขนาดเล็กที่สุดที่ยอมได้ก่อนจะตัดบรรทัด */
    background-color: #1a1a1a;
    padding: 30px;
    border-radius: 12px;
    border-left: 4px solid transparent; /* เตรียมที่ไว้สำหรับเส้นสีด้านซ้าย */
    color: #fff;
    transition: 0.3s;
    /*text-align: center;*/
}

/* สีขอบด้านซ้ายตามรูป */
.border-orange { border-left-color: orange; }
.border-blue { border-left-color: #5dade2; }
.border-yellow { border-left-color: #f1c40f; }
.border-white { border-left-color: white;}

/* จัดการเนื้อหาภายในการ์ด */
.product h3 {
    margin: 20px 0 10px;
    font-size: 1.25rem;
}

.product p {
    color: #888;
    font-size: 0.9rem;
    line-height: 1.6;
    margin-bottom: 25px;
}

.view-details {
    color: orange; /* หรือสีตามที่กำหนด */
    text-decoration: none;
    font-weight: bold;
    font-size: 0.8rem;
    text-transform: uppercase;
}

/* Hover Effect */
.product:hover {
    transform: translateY(-5px);
    background-color: #252525;
}

.pxFlashLight {
    margin-top: 50px;
    margin-left: 150px;
    color: orange;
    font-size: 10px;
}

.pxUnderFlash {
    top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 70px;
    /*margin: 0px;*/
    padding:0px;
    font-family: Arial, Helvetica, sans-serif; 
    color: red;
    font-size: 60px; 
    line-height: 1.0;
}

.pxMiddleUnderFlash{
    /*top: 20px;*/
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 คอลัมน์ */
    gap: 50px;
    background-color: black;
    color: darkorange;
}

.pxMiddleUnderFlashLeft{
    padding: 50px;
    margin-left: 100px;
}

.pxBottomUnderFlash{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.pxContainerAddress{
    display: flex;
    justify-content: center;
    align-content: center;
}

.pxAddress{
    width: 80%;
    padding: 10px;
    margin-top: 40px;
    filter: invert(80%);
}

.pxDetailAddres{
    font-size: 14px;
    color: whitesmoke;
    text-align: center;
}

.pxFooter{
    color: orange;
    /*min-height: 100vh;*/
    font-size: 10px;
    text-align: center;
}